"""Auto generated Digit Table."""

HALF2FULL = {
    {% for i in range(10) -%}
    {{ digit_half_chars[i] | py_str }}: {{ digit_full_chars[i] | py_str }},{% if i == 4 %}
    {% elif loop.last %}{% else %} {% endif %}
    {%- endfor %}
}

FULL2HALF = {
    {% for i in range(10) -%}
    {{ digit_full_chars[i] | py_str }}: {{ digit_half_chars[i] | py_str }},{% if i == 4 %}
    {% elif loop.last %}{% else %} {% endif %}
    {%- endfor %}
}

