"""Auto generated Katakana Table."""


HALF2FULL = {
    {% for half_char in kana_half_chars -%}
    {{ half_char | py_str }}: {{ kana_full_chars[loop.index0] | py_str }},{% if (loop.index) % 6 == 0 %}
    {% elif loop.last %}{% else %} {% endif %}
    {%- endfor %}
}

FULL2HALF = {
    {% for full_char in kana_full_chars -%}
    {{ full_char | py_str }}: {{ kana_half_chars[loop.index0] | py_str }},{% if (loop.index) % 6 == 0 %}
    {% elif loop.last %}{% else %} {% endif %}
    {%- endfor %}
}

